<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改信息</title>
    <link rel="stylesheet" href="/public/css/addBook.css">
</head>
<body>
    <div id="control">修改图书信息</div>
   <form action="/editBook" method="POST">
    <input type="hidden" name="id" value="{{id}}">
       <input type="text" name="name" value="{{name}}"><br>
       <input type="text" name="author" value="{{author}}">
       <input type="submit" value="确认修改">
   </form> 
</body>
</html>