#control{
    height: 40px;
    width: 100%;
    background-color: purple;
    font-size: 18px;
    font-weight: 800;
    color: aliceblue;
    text-align: center;
    line-height: 40px;
}
button{
    background-color: rgb(50, 148, 50);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 10%;
    margin-top: 10px;
    float: right;
}
button > a{
    font-size: 16px;
    font-weight: normal;
    color: beige;
    margin-left: 5px;
    text-decoration: none;
}
table{
    width: 100%;
    display: table;
    border-collapse: collapse
}
table tbody{
    width: 100%;
    text-align: center;
}
th,td{
    border: 1px solid purple;
    height: 30px;
}
.tb>tr>td>a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(79, 60, 122);
    color: aliceblue;
    width: 45px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}
